@if (_isLoading)
{
    <!-- Loader Display -->
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <!-- Table Display -->
    <form>

        <!-- Competitor Table -->
        <table class="table">
            <thead>
                <tr>
                    <!-- Checkbox to toggle selection of all competitors with larger size -->
                    <th class="checkbox-column"><input type="checkbox" class="large-checkbox" @bind="_selectAll" @onclick="ToggleSelectAll" /></th>
                    <!-- Headers for line count and competitor name -->
                    <th class="prog-column"># Prog.</th>
                    <th>Number</th>
                    <th>Name 1</th>
                    <th>Nationality</th>
                    <th>Team</th>
                    <th>Status</th>
                </tr>
            </thead>

            <!-- Competitor Entries -->
            <tbody>
                @{
                    _lineCount = 1; // Initialize program count
                }
                @foreach (var competitor in _competitorListUI.OrderBy(us => us.CreatedTimeStamp)) // Sort and iterate over competitors
                {
                    <tr>
                        <!-- Competitor Selection with larger checkbox -->
                        <td class="checkbox-column"><input type="checkbox" class="large-checkbox" @bind="competitor.Selected" /></td>
                        <!-- Line Count -->
                        <td class="prog-column">@_lineCount</td>
                        <!-- Competitor Details Link -->
                        <td><a href="/Masterdata/CompetitorDetails/@competitor.IdString">@competitor.Number</a></td>
                        <td>@competitor.Name1</td>
                        <td>@competitor.Nationality</td>
                        <td>@competitor.Team</td>
                        <td>@competitor.Status</td>
                    </tr>
                    _lineCount = _lineCount + 1; // Increment program count
                }
            </tbody>
        </table>

        <!-- Button Controls -->
        <button type="button" class="btn btn-success" @onclick="() => NavigateToNewEntity()">New competitor</button> <!-- Navigate to New Competitor -->
        <button type="button" class="btn btn-danger" @onclick="() => ConfirmDeleteLines()">Delete Selected Competitors</button> <!-- Delete Selected Competitors -->
        <button type="button" class="btn btn-warning" @onclick="() => ExportToCSV()">Export to CSV</button> <!-- Export to CSV -->

    </form>
}
